.board_content {
  white-space: pre-line;
  word-break: break-all;
  min-height: 15rem;
}

.test {
  border-top: solid 1px rgb(209, 207, 207);
  border-bottom: solid 1px rgb(209, 207, 207);
}

.reply_textarea {
  resize: none;
  white-space: pre-line;
  word-break: break-all;
  width: 35rem;
}

.reply_button {
  text-align: left;
}

.replyBorder {
  border: solid 1px rgb(209, 207, 207);
  border-radius: 5px;
  display: flex;
}
.reply_Form {
  width: 42rem;
}

.replyContent_Form {
  resize: none;
  white-space: pre-line;
  word-break: break-all;
}
