<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/javascript/SideBar.js}"></script>
</head>
<body>
<div class="sidebar" th:fragment="Sidebar">
    <div class="toggleFront">
        <div class="row d-flex mt-4 SideBarSetting">
            <!--사이드바 + 메인-->
            <div class="col-lg-3 mb-4 h-25 container-fluid card shadow" style="width: 14rem">
                <!--사이드바-->
                <div class="mx-4 mt-3">
                    <!--사이드바 사진-->
                    <img
                            alt="증명사진"
                            class="card-img-top img-fluid"
                            th:src="@{/images/intro.jpg}"
                    />
                </div>
                <div class="card-body mt-2 ms-2" id="sidePic">
                    <!--사이드바 내용-->
                    <div class="d-flex">
                        <h5 class="card-title me-4">지성현</h5>
                        <div class="me-1" id="cursor">&#128269;</div>
                    </div>
                    <p class="card-text">
                        <li>생년월일 : 1996. 02. 20</li>
                        <li>거주지 : 경기도 용인시</li>
                        <li>학력 : 평택대학교(졸업)</li>
                        <li>경력사항 : 신입</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <aside class="toggleBack">
            <div class="row d-flex mt-4">
                <div class="col-lg-3 mb-4 h-25 container-fluid card shadow" style="width: 14rem">
                    <!--사이드바-->
                  <div class="card-body mt-2 ms-2">
                    <!--사이드바 내용-->
                    <div>
                      <h5 class="card-title me-4">자격사항</h5>
                    </div>
                    <p class="card-text">
                      <li><a th:text="'컴퓨터활용능력 2급'"></a></li>
                      <li>(취득일 : <a th:text="'2022년 10월'"></a>)</li>
                      <li><a th:text="'新HSK 5급'"></a></li>
                      <li>(취득일 : <a th:text="'2022년 05월'"></a>)</li>
                      <li><a th:text="'2종 보통운전면허'"></a></li>
                      <li>(취득일 : <a th:text="'2021년 12월'"></a>)</li>
                    </p>
                  </div>
                    <div class="card-body ms-2" id="sidePic">
                        <!--사이드바 내용-->
                        <div>
                            <h5 class="card-title me-4">프로젝트</h5>
                        </div>
                        <p class="card-text">
                            <li>1차 : <a th:href="@{https://github.com/junyihong/Project01}">게임 장비 쇼핑몰</a></li>
                            <li>2차 : <a th:href="@{https://github.com/coffebara/green_second_team_project}">코딩 강의 페이지</a></li>
                            <li>3차 : <a th:href="@{https://github.com/coffebara/green_final_team_project}">코딩 강의 심화</a></li>
                            <li>개인 : <a th:href="@{https://github.com/JayJi5204/introduce}">블로그 페이지</a></li>
                        </p>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
</body>
</html>

